/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}


#about img{
  padding-top:6px;
  padding-bottom: 12px;
}
#about,#ideas,#host{
  display:flex;
  flex-direction: column;
  width:100%;
  
}
/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: row;
  
}

.item{
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
  width:100%;
  border-top: black;
  border-right: black;
  
  border-bottom-width:0;
  border-style:ridge;
  border-top-width: 4px;
  border-right-width:4px
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
  
}

header nav ul li {
  list-style-type: none;
  
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}
header nav ul {
  display:flex;
  justify-content: center;
  padding-bottom:15px;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  width:100%;
  height:100%;
  
}
#theForm div{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  flex-wrap: wrap;
}



form label {
  margin-bottom:10px;
  font-weight: bold;
  justify-content: space-between;
  
}

form select,
form input {

  margin-bottom: 20px;
  width: 100%;
  flex-basis:auto;
  
  
}


form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}
#stay{
  
  border-top:#ff385c;
  border-left:black;
  border-style:ridge;
  border-right-style:none;
  border-bottom-style:none;
  border-right-width:0;
  border-bottom-width:0;
  border-width:4px;
}



/* -------  Footer ------- */

footer {
  background-color: #ff385c;
  padding:20px 20px 0 20px;
  width:100%;
  
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
  
}

/* -------  Media Query ------- */
@media all and (min-width: 480px){
  
header {
 
  display:flex;
  justify-content: space-between;
  border-top: black;
  border-left: black;

  border-bottom-width:0;
  border-right-width:0;
  border-style:ridge;
  border-top-width: 4px;
  border-left-width:4px;
  flex-wrap:wrap;
  
}
nav{
  flex-wrap:wrap;
}
#stay{
  border-top:none;
  border-left:#bdbdbd;
}

#theForm {
  display:flex;
  flex-wrap:wrap;
  
 
}
form input{
  flex-basis: auto;
}
#theForm div{
  flex-direction: column;
  width:100%;
  justify-content: space-between;
  max-width: 100%;
  margin-left:60px;
  flex:1;
  

}
#theForm div:first-child{
  margin-left:8px;
}
.groupAbout{
  display:flex;
  flex-direction: row;
  margin-top: 20px;
}
.image{
  flex: 1;
  margin-right:7px;
  margin-left:7px;
  align-self: center;
  
}
.halfTheContainer{
  flex:2;
  margin-right:15px;
  margin-left: 7px;
}

.groupIdeas{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.imageIdeas{
  flex:0 50%;

}


.groupHost{
  display:flex;
  flex-direction: row;
  margin-top:20px;
}
.halfAndHalf{
  flex:1;
  margin-left:7px;
  margin-right:7px;
  align-self: center;
}
#imageOne,#imageThree{
  margin-right:6px;
}
#imageTwo,#imageFour{
  margin-left:6px;
}



 
}